.signature {
  font-family: var(--ifm-font-family-monospace);
  background-color: #f8e8b8;
  font-size: var(--ifm-code-font-size);
  border-radius: var(--ifm-global-radius);
  padding: var(--ifm-pre-padding);
  margin-bottom: var(--ifm-leading);
}

html[data-theme="dark"] {
  .signature {
    background-color: rgb(40, 42, 54);
  }
}
