.signature {
    font-family: var(--ifm-font-family-monospace);
    background-color: #F8E8B8;
    font-size: var(--ifm-code-font-size);
    border-radius: var(--ifm-global-radius);
    padding: var(--ifm-pre-padding);
    margin-bottom: var(--ifm-leading);
}